<!DOCTYPE html>

<html>
   <head>
      <title>Happy Birthday API</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>Happy Birthday API</h1>
    <hr />
    <div class="container">
      <h3>Example Usage:</h3>
      <ul>
        <li><a href="api?name=Elon Musk">[project url]/api?name="Elon Musk"</a></li>
      </ul>

      <h3>Example Output:</h3>
      <p>
        <code>{"body":"Happy Birthday, Elon Musk!"}</code>
      </p>
    </div>
    <div class="footer">
      <!--
      <p>
        By <a href="https://www.freecodecamp.org/">freeCodeCamp.org</a>
      </p>
      -->
    </div>
  </body>
</html>
